<!DOCTYPE html> 

<html> 
    <head> 
    <title>${title}</title> 
    <meta http-equiv="Content-type" content="text/html; charset=iso8859-1" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
    <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
</head> 
<body> 
<div data-role="page" id="startseite">
    <div data-theme="d" data-role="header"><h1>${title}</h1></div>
    <div data-role="content">
    ${content}
    </div>
<div data-theme="d" data-role="footer"><a rel="external" href="http://www.asta.uni-augsburg.de">AStA Augsburg</a></div>
</div>
</body></html>
